<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8' />
        <meta name='include_mode' content='async'>
        <title>{% block title %}{% endblock %} | juzz</title>
        {% block stylesheets %}
          <link rel="stylesheet" type="text/css" href="{{ asset('bower_components/font-awesome/css/font-awesome.min.css') }}">
          <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}" charset="utf-8">
          <link rel="stylesheet" type="text/css" href="{{ asset('bower_components/flat-ui/dist/css/flat-ui.min.css ') }}">
          <link rel="stylesheet" href="{{ asset('css/style.css') }}" charset="utf-8">
        {% endblock %}
        {% block fonts %}
          <link href='https://fonts.googleapis.com/css?family=Comfortaa:400,700,300' rel='stylesheet' type='text/css'>
        {% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.png') }}" />

</head>
<body>
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle pull-left collapsed" data-toggle="collapse" data-target="#main-navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <button type="button" class="navbar-toggle pull-right active collapsed" data-toggle="collapse" data-target="#searchbar">
              <span class="sr-only">Toggle player</span>
              <span class="glyphicon glyphicon-search"></span>
          </button>

          {% set route = app.user ? path('perfil',{ 'user' : app.user.nick }) : path('portada') %}
          <a class="navbar-brand" href="{{route}}"></a>
  
        </div>
        <div class="navbar-collapse collapse in" id="main-navbar">
          <ul class="nav navbar-nav navbar-left">
            <li class="active">
              <a href="{{route}}">Inicio</a>
            </li>
            <li>
              <a href="#">Explorar</a>
            </li>
            <li class="hidden-xs">
                <a data-toggle="collapse" data-target="#searchbar">
                    <span class="glyphicon glyphicon-search"></span>&nbsp;
                    <span class="hidden-sm">Buscar</span>
                </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if app.user %}
              <li>
                <a href="#">
                  <span class="fa fa-microphone"></span>&nbsp;
                  <span class="hidden-sm">Subir</span>
                </a>
              </li>
            {% endif %}

            {% if not app.user %}
              <li>
                <a data-toggle="modal" href="#login">
                  <span class='glyphicon glyphicon-log-in'></span>&nbsp;
                  <span class="hidden-sm">Entra</span>
                </a>
              </li>
              <li>
                <a href="{{path('register')}}">
                  <span class='glyphicon glyphicon-pencil'></span>&nbsp;
                  <span class="hidden-sm">Registrate</span>
                </a>
              </li>
            {% elseif app.user %}
              <li id='notificacion-component-mount-point'></li>
              <li>
                <a class='user dropdown-toggle' href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img class='img-circle' width='45' src="{{ asset(app.user.getAvatar().getWebPath()) }}">
                  <span class="hidden-sm"> {{ app.user.getNombreCompleto() }}</span>
                </a>
                <ul class="dropdown-menu text-capitalize" data-placement="left" role='menu'>
                  <li>
                    <a rel='nofollow' href="{{ path('perfil',{user:app.user.nick}) }}">
                      <span class='fa fa-user'></span>&nbsp;&nbsp;Mi Perfil
                    </a>
                  </li>
                  <li>
                    <a rel='nofollow' href="">
                      <span class='fa fa-clock-o'></span>&nbsp;&nbsp;Escuchar Más Tarde
                      <span class="badge">14</span>
                    </a>
                  </li>
                  <li>
                    <a rel='nofollow' href="">
                      <span class='fa fa-rss'></span>&nbsp;&nbsp;Mis Subscripciones
                      <span class="badge">1</span>
                    </a>
                  </li>
                  <li>
                    <a rel='nofollow' href="{{ path('editar_perfil',{user:app.user.nick}) }}">
                      <span class="fa fa-lock"></span>&nbsp;&nbsp;Zona Privada
                    </a>
                  </li>
                  <li>
                    <a rel='nofollow' href="{{path('logout')}}">
                      <span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Cerrar Sesión
                    </a>
                  </li>
                </ul>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
      <div id="searchbar" class="container collapse" data-target="#words" data-baseurl="http://www.ivoox.com/">
            <form id="buscador" method="get" action="">
              <div class="col-md-8">
              	<p class="visible-lg visible-md">
              		Busca podcasts, programas, episodios, canales, radios online, usuarios...
              	</p>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search" id="search">
                  <span class="input-group-btn">
                    <button type="submit" class="btn"><span class="fui-search"></span></button>
                  </span>
                </div>
              </div>
            </form>
        </div>
    </nav>
  </header>
  <main>
    {% block main %}
    {% endblock %}
  </main>
  <footer></footer>
  {% block javascripts %}
    {% if app.environment == 'dev' %}
      <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    {% endif %}
    <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/flat-ui/dist/js/flat-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/pusher/dist/pusher.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <!-- Vendor Bundle -->
    <script type="text/javascript" src="{{ asset('js/vendor.min.js') }}"></script>

    {% if app.user %}
      <script type="text/javascript" src="{{ asset('bundles/juzznotifications/js/bundle.min.js') }}"></script>
      <script type="text/javascript">
        /*var socket = new Pusher('e3feeec9c2b05b1c6f12');
        var my_channel = socket.subscribe('my-channel');
          socket.bind('profile_visited',
          function(data) {
            var user = JSON.parse(data);
            console.log(user);
            // add comment into page
          }
        );*/
        $(function(){
          $("#switch-02").bootstrapSwitch().parent().on("click",function(e){
            e.preventDefault();
            e.stopPropagation();
          });



        })
      </script>
    {% endif %}
    
  {% endblock %}
</body>
</html>
