{% import '::macros.html.twig' as macros %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <meta name='include_mode' content='async'>
    <title>{% block title %}{% endblock %} | Escucha lo que te interesa, cuando quieras y donde quieras</title>
    <!-- By http://realfavicongenerator.net/ -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('img/favicons/apple-touch-icon-57x57.png') }}/">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('img/favicons/apple-touch-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('img/favicons/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('img/favicons/apple-touch-icon-76x76.png') }}">
    <link rel="icon" type="image/png" href="{{ asset('img/favicons/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ asset('img/favicons/favicon-96x96.png') }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ asset('img/favicons/favicon-16x16.png') }}" sizes="16x16">
    <link rel="manifest" href="{{ asset('img/favicons/manifest.json') }}">
    <link rel="mask-icon" href="{{ asset('img/favicons/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Juzz">
    <meta name="application-name" content="Juzz">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/master.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bower_components/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" charset="utf-8">
    {% endblock %}
    {% block fonts %}
      <link href='https://fonts.googleapis.com/css?family=Comfortaa:400,700,300' rel='stylesheet' type='text/css'>
    {% endblock %}
  </head>
<body>
  {#  Header  #}
  {% include '::partials/header.html.twig' %}
  <main>
    {% block main %}{% endblock %}
  </main>

  {% if not app.user %}
    {# Login Modal #}
    {% render(path('login')) %}
  {% endif %}

  {# Footer #}
  {% include '::partials/footer.html.twig' %}
  
  {% block javascripts %}
    {% include '::partials/javascripts.html.twig' %}
  {% endblock %}
</body>
</html>
