{% extends 'base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('bower_components/bootstrap-social/bootstrap-social.css') }}" charset="utf-8">
{% endblock %}
{% block main %}
	<div class="container container-md">
		<h2 class="text-center">Debes estar logado para poder publicar</h2>
		<div class="big-tabs-container container-card">
			<ul class="nav nav-tabs" role='tablist'>
				<li class="tab_item {{ tab is not defined ? 'active' }}">
		            <a role="tab" href="{{ path('login') }}">Con mi cuenta</a>
		        </li>
		        <li class="tab_item {{ tab is defined and tab == 'register' ? 'active' }}">
		            <a role="tab" href="{{ path('register') }}">Crear cuenta</a>
		        </li>
			</ul>
			<div class="tab-content">
				{# Tab Content #}
				{% block tabcontent %}{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}
