{% extends 'base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('bower_components/bootstrap-social/bootstrap-social.css') }}" charset="utf-8">
{% endblock %}
{% block main %}
<section id='section-bg-2' class="section section-main section-bg">
	<div class="container container-md">
		<h2 class="section-title text-center">Debes estar logado para poder publicar</h2>
		<div class="big-tabs-container">
			<ul class="nav nav-tabs" role='tablist'>
				<li class="{{ tab is not defined ? 'active' }}">
		            <a role="tab" href="{{ path('login') }}">Con mi cuenta</a>
		        </li>
		        <li class="{{ tab is defined and tab == 'register' ? 'active' }}">
		            <a role="tab" href="{{ path('register') }}">Crear cuenta</a>
		        </li>
			</ul>
			<div class="tab-content">
				<div  class="container tab-pane active">
					{# Tab Content #}
					{% block tabcontent %}{% endblock %}
					
				</div>
				
			</div>
		</div>
	</div>
</section>
{% endblock %}
