{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('bower_components/bootstrap-social/bootstrap-social.css') }}" charset="utf-8">
{% endblock %}
{% block main %}
	<div class="profile-header">
		<div class="profile-header-bg" style="background-image:url({{ asset(profilebg) }})">
			<img class="profile-header-avatar" src="{{ asset(avatar) }}" >
		</div>
		<div class="profile-header-details">
  			<h3 class="profile-header-owner">{{ name }} <small>{{ apellidos }}</small></h3>
  			<ul class="profile-header-statistics">
	            <li>
	                <a href="" rel="nofollow" title="">
	                    {{ icon('microphone') }}&nbsp;
	                    56
	                </a>
	            </li>
	            <li>
	            	<a href="" rel="nofollow" title="">
	                   	{{ icon('users') }}&nbsp;
	                    12
	                </a>
	            </li>
           	</ul>
		</div>
	</div>
	<div class="big-tabs-container">
		<ul class="nav nav-tabs">
			<li class="tab_item active">
				<a href="">
					<span>Perfil</span>
				</a>
			</li>
			<li class="tab_item">
				<a href="">
					<span>Programas</span>
				</a>
			</li>
			<li class="tab_item">
				<a href="">
					<span>Episodios</span>
				</a>
			</li>
			<li class="tab_item">
				<a href="">
					<span>Listas</span>
				</a>
			</li>
			<li class="tab_item">
				<a href="">
					<span>Favoritos</span>
				</a>
			</li>
			<li class="tab_item">
				<a href="" >
					<span>Seguidores</span>
				</a>
			</li>
			<li class="tab_item">
				<a href="">
					<span>Siguiendo</span>
				</a>
			</li>
		</ul>

		<div class="container-fluid">
			{{ render_flash_alerts() }}
				
			{% include "juzzUsuariosBundle:Usuarios:tab-profile.html.twig" %}
		</div><!-- /content -->
	</div><!-- /tabs -->
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	
    <script src="{{ asset('bower_components/hinclude/hinclude.js') }}"></script>
    <script type="text/javascript">

    	$(function(){
    		var includes = document.getElementsByTagName("hx:include");
    		Array.prototype.slice.call(includes).forEach(function(include){
    			include.addEventListener('ready',function(e){
    				var child = this.firstElementChild;
    				if(child && child.hasAttribute("data-component")){
    					var url = child.getAttribute("data-component");
    					var s = document.createElement('script');
				        s.type = 'text/javascript';
				        s.async = true;
				        s.src = url;
				        var x = document.getElementsByTagName('script')[0];
				        x.parentNode.insertBefore(s, x);
    				}
    			});
    		});

    	})
    	
    </script>
{% endblock %}