{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('bower_components/bootstrap-social/bootstrap-social.css') }}" charset="utf-8">
{% endblock %}
{% block main %}
	<div class="profile-header">
		<div class="profile-header-bg">
			<img class="profile-header-avatar" src="{{ asset(avatar) }}" >
		</div>
		<div class="profile-header-details">
  			<h3 class="profile-header-owner">{{ name }} <small>{{ apellidos }}</small></h3>
  			<ul class="profile-header-statistics">
	            <li>
	                <a href="" rel="nofollow" title="">
	                    <span class='fa fa-microphone'></span>&nbsp;
	                    56
	                </a>
	            </li>
	            <li>
	            	<a href="" rel="nofollow" title="">
	                   	<span class='fa fa-users'></span>&nbsp;
	                    12
	                </a>
	            </li>
           	</ul>
		</div>
	</div>
	<div class="big-tabs-container">
		<ul class="nav nav-tabs">
			<li class="tab_item active">
				<a href="">
					<span>Perfil</span>
				</a>
			</li>
			<li class="tab_item">
				<a href="">
					<span>Programas</span>
				</a>
			</li>
			<li class="tab_item">
				<a href="">
					<span>Episodios</span>
				</a>
			</li>
			<li class="tab_item">
				<a href="">
					<span>Listas</span>
				</a>
			</li>
			<li class="tab_item">
				<a href="">
					<span>Favoritos</span>
				</a>
			</li>
			<li class="tab_item">
				<a href="" >
					<span>Seguidores</span>
				</a>
			</li>
			<li class="tab_item">
				<a href="">
					<span>Siguiendo</span>
				</a>
			</li>
		</ul>

		<div class="container-fluid">
			{{ render_flash_alerts() }}
				
			{% include "juzzUsuariosBundle:Usuarios:tab-profile.html.twig" %}
		</div><!-- /content -->
	</div><!-- /tabs -->
{% endblock %}
{% block javascripts %}
	{{ parent() }}
    <script src="{{ asset('bower_components/hinclude/hinclude.js') }}"></script>
{% endblock %}