<div class="row">
	<div class="col-md-9 col-xs-12">
		{# Información Personal #}
		<div class="panel panel-default">
		   <div class="panel-heading">Información</div>
		   <div class="panel-body">
		    	<h3>Descripción</h3>
		    	<p>{{ descripcion }}</p>
		    	{% if intereses|length > 0 %}
		    		<hr>
		    		<h3>Intereses</h3>
		    		{% for interes in intereses %}
		    			<a href="{{ path('episodios_categorias',{category:interes.termino.slug}) }}">
		    				<span class="label label-pill label-success">{{ interes.termino.nombre }}</span>
		    			</a>
		    			
		    		{% endfor %}

		    	{% endif %}
		    	
		  	</div>
		   	<!-- List group -->
			<ul class="list-group">
			   	<li class="list-group-item">Cras justo odio</li>
			    <li class="list-group-item">Dapibus ac facilisis in</li>
			    <li class="list-group-item">Morbi leo risus</li>
			    <li class="list-group-item">Porta ac consectetur ac</li>
			    <li class="list-group-item">Vestibulum at eros</li>
			</ul>
		</div>
		{# comments wall #}
		{{ render_hinclude(controller('juzzCommentsBundle:Comments:commentsWall',{'target' : 3}), {
    		'default': 'Cargando Comentarios ...'
		}) }}
	</div>
	<!-- SIDEBAR -->
	<div class="col-md-3 col-xs-12">
		{# Carga Asíncrona de controladores #}
		{# Last Upload Audios #}
		{{ render_hinclude(controller('juzzEpisodiosBundle:Episodios:lastUploadedEpisodes',{'idUser' : 3}), {
    		'default': 'Cargando Últimos Episodios ...'
		}) }}

		{# Current User Followers #}
		{{ render_hinclude(controller('juzzUsuariosBundle:Default:followers',{ 'user' : id }), {
    		'default': 'Cargando ...'
		}) }}
	</div>
</div>