{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('bower_components/bootstrap-social/bootstrap-social.css') }}" charset="utf-8">
{% endblock %}
{% block main %}
	<div class="profile-header">
		<div class="profile-header-bg-container">
			<div class="profile-header-bg">
				{{ macros.profile_bg(owner) }}
			</div>
			{{ macros.profile_avatar(owner) }}
		</div>
		<div class="profile-header-details">
  			<h3 class="profile-header-owner">{{ owner.nombre }} <small>{{ owner.apellidos }}</small></h3>
            {% if app.user.id != owner.id %}
                {% if owner.followers.contains(app.user) %}
                    <a class='btn btn-embossed btn-inverse' href="{{ path('delete_follower',{'user' : owner.id , 'follower' :  app.user.id }) }}" role="button"><span class="glyphicon glyphicon-minus"></span>&nbsp; Dejar de Seguir</a>
                {% else %}
                    <a class='btn btn-embossed btn-primary' href="{{ path('add_follower',{'user' : owner.id , 'follower' :  app.user.id }) }}" role="button"><span class="glyphicon glyphicon-plus"></span>&nbsp; Seguir</a>
                {% endif %}
            {% endif %}
  			<ul class="profile-header-statistics">
	            <li>
	                <a href="" rel="nofollow" title="">
	                    {{ icon('microphone') }}&nbsp;
	                    56
	                </a>
	            </li>
	            <li>
	            	<a href="{{ path('followers',{'user':owner.nick}) }}" rel="nofollow" data-toggle="tooltip" data-placement="bottom" title="{{ owner.getFullName()  }} tiene {{ owner.followers|length }} seguidores">
	                   	{{ icon('users') }}&nbsp; {{ owner.followers|length }}
	                </a>
	            </li>
           	</ul>
		</div>
	</div>
	<svg class='hide'>
	  <filter id="monocromatica">
	   <feColorMatrix in="SourceGraphic"
	    type="matrix"
		 values="
		     1     0 0 0  0 
		     0.69  0 0 0  0.35 
		     1     0 0 0  0 
		     0     0 0 1  0
		     " />
	  </filter>
	</svg>
	<div class="big-tabs-container">
		{# Incluimos opciones de navegación #}
        {% include "juzzUsuariosBundle:Usuarios:public/partials/profile-nav-options.html.twig" %}
		<div class="container-fluid">
        {{ render_flash_alerts() }}
        {% block profile_tab_content %}{% endblock %}
		</div><!-- /content -->
	</div><!-- /tabs -->
{% endblock %}
