{% import '::macros.html.twig' as macros %}
<div class = "panel panel-default">
   <div class ="panel-heading">últimos seguidores ({{ followers|length }})</div>
   <ul class = "list-group">
      {% if followers|length %}
         {% for follower in followers %}
            <li class="list-group-item">
               <div class="media">
                  <div class="media-left">
                     <a href="{{ path('perfil',{'user': follower.nick}) }}" data-toggle="tooltip" data-placement="left" title='{{ follower.getFullName() }}'>
                        {{ macros.profile_avatar_medium(follower) }}
                     </a>
                  </div>
                  <div class="media-body">
                     <h4 class="media-heading">{{ follower.getFullName() }}</h4>
                     <p>
                        {{ follower.followers|length }} seguidores
                        {% if follower.id != app.user.id and not follower.followers.contains(app.user) %}
                           <a class="btn btn-embossed btn-primary pull-right" href="{{ path('add_follower',{'user' : follower.id , 'follower' :  app.user.id }) }}" role="button">Seguir</a>
                        {% else %}
                           <a class="btn btn-embossed btn-primary pull-right" href="{{ path('perfil',{'user': follower.nick}) }}" role="button">ver pefil</a>
                        {% endif %}
                     </p>
                  </div>
               </div>
            </li>
         {% endfor %}
         <li class="list-group-item {{ not followers ? 'disabled' }} text-center">
            <a href="{{ path('followers',{'user':owner_nick}) }}">
                <span class='fa fa-plus-circle '></span>&nbsp;
                <span class='text-capitalize'>ver todos</span>
            </a>
        </li>
      {% else %}
         <li class="list-group-item list-group-item-info text-center">
            <span class="fa fa-info fa-lg"></span>&nbsp;
            <span class="list-group-item-text">{% if owner_nick != app.user.nick %}No Tiene Followers {% else %} No tienes Followers {% endif %}</span>
         </li>
      {% endif %}
      
      
   </ul>

</div>