{% extends 'juzzUsuariosBundle:Usuarios:private/base.html.twig' %} 
{% trans_default_domain 'juzzUsuariosBundle' %}
{% block tabContent %} 

<div class="container">

    {{ render_flash_alerts() }}
    
    <div class="container-card">
        <h2 class="text-center">{{ 'edit.title'|trans }}</h2>

        <div class="row">
            <div class="col-sm-12">
                {{ form(edit_form, { 'action': path('editar_perfil',{user:user.nick}), 'method': 'POST','style': 'horizontal'}) }}
            </div>
        </div>
        
        {% include 'juzzUsuariosBundle:Usuarios:private/partials/other-edit-options.html.twig' %}

    </div>
    <!-- Darse de baja -->
    <div class="row">
        <div class="col-md-7 col-md-offset-5">
            <p>{{ 'edit.low_process.notice'|trans }}&nbsp;<a href="{{ path('low_process',{user:user.nick}) }}" title=''>{{ 'edit.low_process.link'|trans }}</a></p>
        </div>
    </div>
</div>

{# Incluimos modal cambio de contraseña #}
{% render(path('change_password_request')) %}
{# Incluimos formulario cambio de email#} 
{% include 'juzzUsuariosBundle:Usuarios:private/partials/change-email.html.twig' %}

{% endblock %}

{% block javascripts %} 

{{ parent() }}

<script type="text/javascript">
    $(function(){
            $("select").select2({dropdownCssClass: 'dropdown-inverse'});
        })
</script>
{% endblock %}

